body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.row {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.items {
  margin-top: 6%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}

.title {
  height: 10%;
  width: 100%;
}

.title img {
  padding: 10% 10% 10% 10%;
}

.sub-header {
  height: 15%;
  width: 100%;
  margin-top: 3%;
}

.sub-text {
  font-size: 3vw;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0;
  text-align: center;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: darksalmon;
}

.main-sub-text {
  text-align: center;
  padding-top: 2%;
  font-size: 7vw;
}

.menu-item {
  margin-top: 9%;
}

.menu-item-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.text-box {
  position: relative;
  padding-left: 2%;
  padding-right: 0;
}

.item-title {
  font-size: 4vw;
  font-weight: bold;
  padding-top: 1%;
}

.item-desc {
  font-size: 2.7vw;
  margin-top: 2%;
  padding-bottom: 2%;
  line-height: 120%;
  font-weight: 200;
}

.price-and-button {
  margin-top: 1%;
  position: absolute;
  width: 97%;
  bottom: 0;
}

.price {
  padding: 0;
  font-weight: 600;
  font-size: 4vw;
  display: flex;
  align-items: center;
}

.button-parent {
  position: relative;
}

.add-button {
  border-radius: 10px;
  width: 45%;
  height: 75%;
  font-size: 3.1vw;
  font-weight: 500;
  line-height: 0;
  background-color: rgb(230, 224, 224);
  border: none;
  position: absolute;
  right: 4%;
  top: 12.5%;
  box-shadow: 0px 5px 5px -5px black;
}